<div class="row">
    <h4>Hydrophone Tank Test</h4>
</div>
{% for hydro in hydros %}
    <div>
        <div class="row">
            <div class="col-lg">
                <table class="table">
                    <thead class="thead-dark">
                        <tr class="table-info">
                            <td colspan="5">{{ hydro.SubsystemDescStr }}</td>
                        </tr>
                        <tr>
                            <td colspan="1"><strong>Signal Result: </strong><span class="badge badge-secondary">{{ hydro.TestResultSignal }}</span></td>
                            <td colspan="4"><strong>Range Loss Result: </strong><span class="badge badge-secondary">{{ hydro.TestResultRangeLoss }}</span></td>
                        </tr>
                        <tr>
                            <th scope="col">RESULTS</th>
                            <th scope="col">Beam 0</th>
                            <th scope="col">Beam 1</th>
                            <th scope="col">Beam 2</th>
                            <th scope="col">Beam 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Transmit Loss (dB)</th>
                            <td>{{ hydro.TestResultXmtLossB0|round(2) }}</td>
                            <td>{{ hydro.TestResultXmtLossB1|round(2) }}</td>
                            <td>{{ hydro.TestResultXmtLossB2|round(2) }}</td>
                            <td>{{ hydro.TestResultXmtLossB3|round(2) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Receiver Loss (dB)</th>
                            <td>{{ hydro.TestResultRcvLossB0|round(2) }}</td>
                            <td>{{ hydro.TestResultRcvLossB1|round(2) }}</td>
                            <td>{{ hydro.TestResultRcvLossB2|round(2) }}</td>
                            <td>{{ hydro.TestResultRcvLossB3|round(2) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Range Loss (dB)</th>
                            <td>{{ hydro.TestResultRangeLossB0|round(2) }}</td>
                            <td>{{ hydro.TestResultRangeLossB1|round(2) }}</td>
                            <td>{{ hydro.TestResultRangeLossB2|round(2) }}</td>
                            <td>{{ hydro.TestResultRangeLossB3|round(2) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Signal (dB)</th>
                            <td>{{ hydro.TestResultSignalB0|round(2) }}</td>
                            <td>{{ hydro.TestResultSignalB1|round(2) }}</td>
                            <td>{{ hydro.TestResultSignalB2|round(2) }}</td>
                            <td>{{ hydro.TestResultSignalB3|round(2) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endfor %}