<div class="row">
    <h3>Beam Check - Tank Test</h3>
</div>
{% for tank in tank_noises %}
<div class="row">
    <div class="col-lg">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col"></th>
                <th scope="col">Noise Floor</th>
                <th scope="col">Amplitude Tank</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-info">
                    <td colspan="3">{{ tank.SubsystemDescStr }}</td>
                </tr>
                <tr>
                    <th scope="row">Beam 0</th>
                    <td>{{ tank.Beam0NoiseFloor|round(2) }}</td>
                    <td>{{ tank.Beam0Signal1mTank|round(2) }}</td>
                </tr>
                <tr>
                    <th scope="row">Beam 1</th>
                    <td>{{ tank.Beam1NoiseFloor|round(2) }}</td>
                    <td>{{ tank.Beam1Signal1mTank|round(2) }}</td>
                </tr>
                <tr>
                    <th scope="row">Beam 2</th>
                    <td>{{ tank.Beam2NoiseFloor|round(2) }}</td>
                    <td>{{ tank.Beam2Signal1mTank|round(2) }}</td>
                </tr>
                <tr>
                    <th scope="row">Beam 3</th>
                    <td>{{ tank.Beam3NoiseFloor|round(2) }}</td>
                    <td>{{ tank.Beam3Signal1mTank|round(2) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endfor %}