<div class="row">
    <h4>Beam Check - Tank Test</h4>
</div>
{% for tank in tank_noises %}
<div class="row">
    <div class="col-lg">
        <table class="table">
            <thead class="thead-dark">
                <tr class="table-info">
                    <td colspan="5">{{ tank.SubsystemDescStr }}</td>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Noise Floor</th>
                    <th></th>
                    <th scope="col">Amplitude Tank</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Beam 0</th>
                    <td>{{ tank.noise_b_0 }}</td>
                    <td><span class="badge badge-secondary">{{ tank.noise_result_b_0 }}</span></td>
                    <td>{{ tank.amp_b_0 }}</td>
                    <td><span class="badge badge-secondary">{{ tank.amp_result_b_0 }}</span></td>
                </tr>
                <tr>
                    <th scope="row">Beam 1</th>
                    <td>{{ tank.noise_b_1 }}</td>
                    <td><span class="badge badge-secondary">{{ tank.noise_result_b_1 }}</span></td>
                    <td>{{ tank.amp_b_1 }}</td>
                    <td><span class="badge badge-secondary">{{ tank.amp_result_b_1 }}</span></td>
                </tr>
                <tr>
                    <th scope="row">Beam 2</th>
                    <td>{{ tank.noise_b_2 }}</td>
                    <td><span class="badge badge-secondary">{{ tank.noise_result_b_2 }}</span></td>
                    <td>{{ tank.amp_b_2 }}</td>
                    <td><span class="badge badge-secondary">{{ tank.amp_result_b_2 }}</span></td>
                </tr>
                <tr>
                    <th scope="row">Beam 3</th>
                    <td>{{ tank.noise_b_3 }}</td>
                    <td><span class="badge badge-secondary">{{ tank.noise_result_b_3 }}</span></td>
                    <td>{{ tank.amp_b_3 }}</td>
                    <td><span class="badge badge-secondary">{{ tank.amp_result_b_3 }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endfor %}